.card_container {
    width: 25%;
    height: 400px;
    position: relative;
}

.card_container_details{
position: absolute;
width: 100%;
bottom: 0;
padding-bottom: 10px;
background: rgba(0,0,0,0.4);
}

.details {
    width: 95%;
    margin: auto;
}

.btn {
    border: none;
    outline: none;
    background: rgba(194, 189, 189, 0.2);
    color: #fff;
    border-radius: 4px;
    padding: 7px;
}

.title {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 300;
}
.time{
    font-size:  10px; 
    margin-top: 19px;
}

@media screen and (max-width:620px) {
    .card_container {
        width: 95%;
    }
}